[submodule "terraform"]
	path = terraform
	url = https://github.com/Santicm23/final-task-epam-course-terraform.git
[submodule "devops-rampup"]
	path = devops-rampup
	url = https://github.com/Santicm23/devops-rampup.git
[submodule "ansible"]
	path = ansible
	url = https://github.com/Santicm23/final-task-epam-course-ansible.git
